body {
    font-family: Arial, sans-serif;
    background-color: #f4f4dd;
}

.card {
    height: 100%;
    /* Giúp các thẻ card có chiều cao đồng nhất */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    /* Tạo khoảng cách giữa nội dung và viền */
}

.card-img-top {
    max-height: 150px;
    /* Giới hạn chiều cao hình ảnh */
    object-fit: contain;
    /* Đảm bảo hình ảnh không bị méo */
    margin-bottom: 10px;
    /* Tạo khoảng cách với tiêu đề */
}

.card-body {
    text-align: center;
    /* Canh giữa nội dung */
}

.card-title {
    min-height: 50px;
    /* Đặt chiều cao tối thiểu để tránh nhảy dòng */
    font-size: 18px;
    /* Kích thước chữ */
    font-weight: bold;
    /* In đậm tiêu đề */
    margin-bottom: 10px;
}

.card-text {
    min-height: 40px;
    /* Đảm bảo mô tả không bị ngắn */
    font-size: 14px;
    color: #555;
}

.btn {
    margin-top: auto;
    color: #f4f4dd;
    background-color: #2c3d1e;
    /* Đẩy nút xuống cuối */
}
.btn:hover{
    color: #2c3d1e;
    background-color: #f4f4dd;
}

/* Màu nền cho header và footer */
header,
footer {
    background-color: #425827;
}

/* Màu chữ cho tên thương hiệu */
.navbar-brand {
    color: #f4f4dd;
    font-weight: bold;
    font-size: 24px;
}

/* Khi hover */
.navbar-brand:hover {
    color: #f4f4dd;
}

/* Màu cho các link trong navbar */
.navbar-nav .nav-link {
    color: #ffffff;
    margin-left: 15px;
}

/* Khi hover */
.navbar-nav .nav-link:hover {
    color: #f4f4dd;
}

/* Footer */
footer {
    color: #f4f4dd;
}

/* Căn chỉnh hình ảnh chính */
.main-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 1px solid #ccc;
}

/* Thumbnail */
.thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
}

.thumbnail:hover, .thumbnail.active {
    border-color: #425827;
}

/* Nút chuyển ảnh */
#prev-btn, #next-btn {
    background-color: #f8f9fa;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.collapse {
    display: none;
}

.collapse.show {
    display: block;
}

.toggle-btn {
    font-size: 1rem;
    color: #425827;
    text-decoration: none;
}

.toggle-btn:hover {
    text-decoration: none;
}
